<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coderdream.mobilesafe"
    android:versionCode="8"
    android:versionName="2.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.coderdream.mobilesafe.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.coderdream.mobilesafe.activity.MainActivity" />
        <activity android:name="com.coderdream.mobilesafe.activity.SettingCenterActivity" />
        <activity android:name="com.coderdream.mobilesafe.activity.LostProtectedActivity" />
        <activity android:name="com.coderdream.mobilesafe.activity.Setup1Activity" />
        <activity android:name="com.coderdream.mobilesafe.activity.Setup2Activity" />
        <activity android:name="com.coderdream.mobilesafe.activity.Setup3Activity" />
        <activity android:name="com.coderdream.mobilesafe.activity.Setup4Activity" />

        <receiver android:name="com.coderdream.mobilesafe.receiver.OutCallReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>